body {
  background: rgba(218, 199, 237, 0.4);
}

h1 {
  margin-top: 120px;
}
p {
  font-size: 20px;
}

@media (min-width: 900px) {
  img {
    width: 800px;
    height: 900px;
  }
}

@media (max-width: 800px) {
  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
  }
}
